.applicationWrapper {
  display: flex;
}

.rightPage {
  flex: 4;
  margin-left: 180px;
  display: flex;
  flex-direction: column;
  background-color: #f6fffb;
  height: 100vh;
}

.link {
  text-decoration: none;
  color: inherit;
}
